@page "/pessoa"
<div class="row">
    <div class="col-md-2 mt-4">
        <button class="btn btn-info" onclick="window.location.href = '/pessoa/editar'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Editar
        </button>
    </div>
    <div class="col-md-2 mt-4">
        <button class="btn btn-danger" onclick="window.location.href = '/pessoa/remover'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Remover
        </button>
    </div>
    <div class="col-md-2 mt-4">
        <button class="btn btn-success" onclick="window.location.href = '/pessoa/formulario'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Adicionar
        </button>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group mb-12">
            <label>Filtro de Busca</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </div>
    </div>
    
</div>
<h4>Lista de Pessoas</h4>

<div class="table-responsive" id="table">
    <table class="table table-striped" id="table-pessoas">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/pessoa.js"></script>
}
